<!DOCTYPE html>
<html>
    <head>
        <title>Form inputs</title>
    </head>
    <body>
        <p>Name: <%= name %></p>
        <p>Favourite number: <%= number %></p>
        <p>Favourite colour: <%= colour %></p>
    </body>
</html>