<!DOCTYPE html>
<html>
    <head>
        <title>json data</title>
    </head>
    <body>
        <p>First name: <%= name %></p>
        <p>Age: <%= age %></p>
        <p>Like soup?: <%= soup %></p>
    </body>
</html>